@{
    ViewData["Title"] = "About";
}

@Html.Raw(ViewBag.ThankYou)

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="text-center">
        <div class="crown"></div>
        <div class="accomodations">Wedding & Reception</div>
    </div>
</div>

<div class="row">
    <div class="text-center">        
        <h3>Talon Winery & Vineyards</h3>
        <p>7086 Tates Creek Rd, Lexington, KY 40515</p>
        <p>
            <a class="btn btn-default" href="http://www.talonwine.com/index.php">Visit Website</a>
        </p>
    </div>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="text-center">
        <div class="crown"></div>
        <div class="accomodations">Accomodations</div>
    </div>
</div>

<div class="row">
    <div class="text-center">
        <h3>Courtyard Lexington South/Hamburg Place</h3>
        <p>
            <strong>Address :</strong> 1951 Pleasant Ridge Drive, I-75 at Man-O-War Boulevard, Lexington, KY 40509
        </p>
        <p>
            <strong>Phone :</strong> 859-263-9090
        </p>
        <p>
            <a class="btn btn-default" href="http://www.marriott.com/hotels/travel/lexce-courtyard-lexington-south-hamburg-place/">Visit Website</a>
        </p>
    </div>
</div>


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="text-center">
        <div class="crown"></div>
        <div class="accomodations">Travel and Transportation</div>
    </div>
</div>

<div class="row">
    <div class="text-center">
        <h3>Shuttles</h3>
        <h4>Shuttles will be provided to the wedding venue and will depart from the hotel at 2:15 PM!</h4>
        <h3>Airport</h3>
        <h4>The closest airport is LEX. The distance from LEX to the hotel is 14 miles.</h4>        
        
    </div>
</div>

