@{
    ViewData["Title"] = "About";
}


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="text-center">
        <div class="accomodations">Wedding & Reception</div>
    </div>
</div>


<div class="row">&nbsp;</div>

<div class="row">
    <div class="text-center">
        <h3>Talon Winery & Vineyards</h3>
        <p>400 Gordon Ln, Shelbyville, KY 40065</p>
        <p>
            <a class="btn btn-default" href="http://www.talonwine.com/index.php">Visit Website</a>
        </p>
    </div>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="text-center">
        <div class="accomodations">Accomodations</div>
    </div>
</div>


<div class="row">&nbsp;</div>

<div class="row">
    <div class="text-center">
        <h3>Talon Winery & Vineyards</h3>
        <p>400 Gordon Ln, Shelbyville, KY 40065</p>
        <p>
            <a class="btn btn-default" href="http://www.talonwine.com/index.php">Visit Website</a>
        </p>
    </div>
</div>


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="text-center">
        <div class="accomodations">Travel and Transportation</div>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="text-center">
        <h3>Talon Winery & Vineyards</h3>
        <p>400 Gordon Ln, Shelbyville, KY 40065</p>
        
    </div>
</div>