@{
    ViewData["Title"] = "Contact";
}


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="text-center">
        <div class="crown"></div>
        <div class="accomodations">Registry</div>
    </div>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="text-center">
        <h4>We can't wait to get married and are so honored to have you at our wedding!
        If you would like to help us start our new life together, we have registred for items we would love to have in our home.</h4>        
    </div>
</div>

