@{
    ViewData["Title"] = "Home Page";
}


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="text-center">
        <h2 class="title">Let love be your highest goal</h2>
        <p class="verse">1 Corinthians 14:1</p>
    </div>
</div>



<div class="row">&nbsp;</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="text-center" id="story">
        <div class="crown"></div>
        <div class="accomodations">Our Story</div>
        <div class="row">&nbsp;</div>
        <div style="font-size: 16px;">
            <p>
                We believe we share the best love story because it’s one that magnifies the beauty of God’s goodness and grace. We hope you see the work of God as you read our journey as he deserves all our gratitude for aligning our paths to meet and to later be joined as one in marriage. Our story is His story, as it will be forever.
            </p>
            <div class="row">&nbsp;</div>
            <p>
                We met at an event called Jesus Prom on November 7th, 2014.  Jesus Prom is a prom for individuals who have disabilities to enjoy a fun night of dancing, games, makeup, photography, food, and prizes. My dear friend and maid of honor, Martha, have been attending the event for the last couple of years without an escort. (An escort is a volunteer who serves as the individual’s date for that night.) It wasn’t until Prom of 2014, Martha received one who proved to be someone very special and spectacular.
            </p>
            <div class="row">&nbsp;</div>
            <p>
                As Martha and I were entering the doorway, we were stopped by a man who asked if Martha would like to be accompanied by an escort. After talking to Martha earlier about her wanting an escort, I voiced for her that she would. The nice man pointed to one of the hundred volunteers in line who was Dustin. Dustin was not the next volunteer in line or close to the front, but in God’s plan, he was chosen for a reason. Martha and I met a wonderful person who was funny, sweet, and fun to be around. Jesus Prom was Martha’s night to shine, so we made sure she stayed in the spotlight. Over the course of the event, I witnessed the kind and gentle nature of Dustin as he so carefully and slowly (almost too slowly) maneuvered my friend’s wheelchair through the crowd and danced with her without hesitation. How Dustin treated my friend Martha is how he treats all people and I am forever grateful to have met a man like him.
            </p>
            <div class="row">&nbsp;</div>
            <p>
                With the help of Facebook, we were in contact and later had our first date at Johnny Carinos. A month after meeting each other, I found out I would be going to CO for 3 months and then AR for another 3 months to complete a level II placement assignment for graduate school. We were not sure how a long distance relationship would work but we were sure that we did not want to say goodbye to each other. So over the course of 6 months, we made the most of the times we were together and shared fun memories along the way. We wrote each other letters (yes…I have many cards with super sweet messages to prove it!), Face timed, and spent time with each other in many states. Despite the challenge of the distance, we were both willing to make the effort because of a beautiful thing called love. God’s love and the love we have for each other keep us strong and committed no matter the circumstances.
            </p>
        </div>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="text-center">
        <div class="crown"></div>
        <div class="accomodations">Our Proposal</div>
        <div class="row">&nbsp;</div>
        <div style="font-size: 16px;">
            <p>
                One day short from a year on November 6th, 2015, the same night of Jesus Prom, Dustin proposed. He proposed at his house with a simple yet very sincere request for me to marry him. The surprise of that moment silenced me and helped me savor the most powerful question and lifelong commitment someone could ever ask me. With tears and a choked up “yes” we were full of joy and ready to share the good news with our loved ones. Now as our wedding approaches, we are very excited to share the big day with you!
            </p>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $("#story").click(function () {
            $("p").toggle();
        });
    </script>
}