@{
    ViewData["Title"] = "Home Page";
}

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="text-center">
        <h2 class="title">~Let love be your highest goal~</h2>
        <p class="verse">1 Corinthians 14:1</p>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="text-center">
        <div class="crown"></div>
        <div class="accomodations">Our Story</div>
        <p>...</p>
    </div>
</div>