@model Wedding.Models.Attendee

@{
    ViewData["Title"] = "Contact";
}

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="alert alert-success" role="alert">
    <h1>@Html.Raw(ViewBag.message)</h1>
</div>
